{%extends 'base_generic.html'%}

{% block content%}
{% load static %}
<script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>
<script type="text/javascript" src = "{% static 'map.js' %}"></script>

  <div class="cont">
    <p>
    <div class="top-text"><strong>О компании</strong></div>
    ПаркИнф (ParkINF) - предоставляет услуги по прокату автомобилей на протяжение 12 лет, предоставляет качественный
    сервис и круглосуточную техническую поддержку своим Клиентам</p>
    <p>
    <div class="top-text"><strong>Экспертный уровень </strong></div>
    За это время мы накопили опыт и разработали собственные технологии, которые успешно себя зарекомендовали и позволяют
    нам оказывать услуги на всей территории Российской Федерации. В парке компании боле 500 автомобилей от
    представительского класса до бюджетных моделей. Ежегодное обновление парка позволяет поддерживать актуальный
    модельный ряд и техническое состояние транспортных средств.</p>

    <p>
    <div class="top-text"><strong>Наша миссия </strong></div>
    Обеспечить качественным сервисом и индивидуальным подходом каждого клиента. Сделать услуги автопроката популярными у
    корпоративных клиентов, создать полноценную альтернативную замену автопарка компаний.</p>

    Наша работа позволяет решать такие важные задачи для бизнеса:
    <ol>
      <li>Мы участвуем в развитии компаний, предоставляя любое количество автомобилей для нужд бизнеса;</li>
      <li>Помогаем снизить свои расходы на приобретение, содержание и обслуживание собственного автопарка;</li>
      <li> При необходимости, имеем возможность быстро увеличить количество автомобилей, как на долгосрочной основе, так
        и под временные задачи;</li>
    </ol>

    При необходимости, имеем возможность быстро увеличить количество автомобилей, как на долгосрочной основе, так и под
    временные задачи;
    <p>
    <div class="top-text"><strong>Мы предлагаем </strong></div>
    <ul>
      <li>Краткосрочная аренда автомобиля без водителя – позволяет решить вопрос с транспортным средством только когда
        это необходимо. Это может быть командировка сотрудника, подменный автомобиль на время ремонта или просто для
        выполнения задач бизнеса.</li>
      <li>Долгосрочная аренда автомобиля без водителя – решает задачи бизнеса, когда требуется транспортное средство на
        длительный срок.</li>
    </ul>


    Мы гарантируем осуществление финансирования, а также полное техническое обслуживание приобретаемой техники,
    предусматривающее, выполнение ТО, внеплановых ремонтных работ, страхования КАСКО, ДАГО, ОСАГО, администрирования
    штрафов видеофиксации. По желанию заказчика может быть включена топливная карта и парковочный абонемент.
    </p>

    <p>
    <div class="top-text"><strong>География </strong></div>
    Компания «ParkINF» имеет собственные филиалы в крупнейших городах: Москва, Санкт-Петербург, Краснодар, Сочи,
    Новосибирск. Услуги долгосрочной аренды и оперативного лизинга могут быть предоставлены в любом регионе.</p>

    <p>
    <div class="top-text"><strong>Наши цены </strong></div>
    Для наших клиентов мы предлагаем демократичные цены и широкий спектр дополнительных услуг. Для сетевых компаний мы
    предлагаем фиксированные тарифы на предоставляемые услуги и возможность работы в режиме одного окна.</p>

    <p>
    <div class="top-text"><strong>Принцип работы </strong></div>
    В работе со своими клиентами и партнерами мы руководствуемся индивидуальным подходом к каждому, а также:

    Ответственность, порядочность, своевременное выполнение обязательств.
    Максимальное внимание — качеству продукции и сервиса.
    Сплочённость команды — каждый прикладывает все усилия для того, чтобы предоставляемые услуги и сервис
    соответствовали заявленным, а отзывы были позитивными.
    Доброжелательное отношение к клиенту.
    Уверены, наше партнёрство принесёт вам выгоду, а сотрудничество оставит только положительные эмоции!</p>
    <p>
    <div class="top-text" id="contact"><strong>Наши контакты </strong></div>
    <p style="margin-left: 15px;">
      +79056405435 - Кужненков Кирилл Афанасьевич<br>
      +79155344633 - Ушаков Савва Александрович<br>
    </p>
    </p>
    <strong>Наш офис:</strong><br>
    <p style="margin-left: 15px;">г. Москва, Зеленоград, проезд д., пр. № 4922, 4 строение 2
    </p>
      <div id="map" style=" 
        padding: 0 0 50px 0;
        width:630px;
        height:400px;
        border-radius: 50px;
        "></div>
  </div>
{% endblock%}

  <!-- <div class="footer_wrap">
    <div class="footer">
      <div class="row">
        <a href="#"><i class="fa fa-telegram"></i></a>
        <a href="#"><i class="fa fa-vk"></i></a>
      </div>

      <div class="row">
        <ul>
          <li><a href="{% url 'about us' %}#contact">Наши контакты</a></li>
          <li><a href="#">Связь</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Условия и сроки</a></li>
          <li><a href="#">Трудоустройство</a></li>
        </ul>
      </div>

      <div class="row">
        ParkINF Copyright © 2024 ParkINF - Все права защищены
      </div>
    </div>
  </div> -->
