{% extends "base_generic.html" %}

{% block content %}

<div class="pretty_text">
  <h4>Наши преимущества</h4>
</div>

<section class="advantages">
  <div class="advantage">
    <h3>Широкий выбор</h3>
    <p>От экономичных моделей до премиум-класса.</p>
  </div>
  <div class="advantage">
    <h3>Качественные автомобиили</h3>
    <p>Только чистые и полностью технически исправные автомобили.</p>
  </div>
  <div class="advantage">
    <h3>Выгодные цены</h3>
    <p>Привлекательные предложения для широкой аудитории.</p>
  </div>
</section>

<section class="advantages">
  <div class="advantage">
    <h3>Страховка</h3>
    <p>Все автомобили застрахованы ОСАГО и КАСКО.</p>
  </div>
  <div class="advantage">
    <h3>24/7 поддержка</h3>
    <p>Решение любых вопросов и проблем в любое время суток.</p>
  </div>
  <div class="advantage">
    <h3>Тех обслуживание</h3>
    <p>Современное ТЕХ обслуживание у официальных дилеров.</p>
  </div>

</section>

<br>
<div id="autopark" class="pretty_text">
  <h4 > Наш автопарк</h4>
</div>



{%block car%}
{%endblock%}
{% endblock %}